////
/// TypingFights colors.
/// @access public
/// @group colors
/// @type Color
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

/// Used in components backgrounds.
$tf-light-gray: #e0e0e0;
/// Used in components backgrounds.
$tf-green: #81c784;
/// Used in components backgrounds.
$tf-indigo: #7986cb;
/// Used in components backgrounds.
$tf-deep-purple: #9575cd;
/// Used in components backgrounds.
$tf-blue: #64b5f6;
