////
/// Global styles.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "settings";

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-light.woff2") format("woff2"),
       url("../fonts/lato-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-light-italic.woff2") format("woff2"),
       url("../fonts/lato-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-medium.woff2") format("woff2"),
       url("../fonts/lato-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font: $font-weight-base #{$font-size-base}/#{$line-height-base} $font-family-base;
}
