////
/// Global reset styles.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

input {
  font: inherit;
  &:focus {
    outline: none;
  }
}
