////
/// Styles for the application template.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "settings";
@import "colors";

.wrapper {
  display: grid;
  min-height: 100vh;
  grid: 3em auto / $layout-panel-width $layout-content-width $layout-panel-width;
  justify-content: space-between;
}

.topPanel {
  grid-column: 1 / span 3;
  grid-row: 1 / 2;
}

.leftPanel {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.leftPanel, .rightPanel {
  background-color: $tf-black;
}

.leftPanel, .main, .rightPanel {
  padding: $layout-padding;
}
