////
/// Styles for the visual keyboard component.
/// @access private
/// @type Length
/// @todo Get rid of relative import paths
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../../../app/styles/colors";

/// Keyboard key size.
$key-size: 3.25em;
/// Keyboard key margins and paddings base value.
$key-margin-base: 0.2em;


.keyboard, .row {
  display: flex;
}

.keyboard {
  max-width: 100%;
  flex-direction: column;
  margin-top: $key-margin-base;
}

.row {
  margin-left: -$key-margin-base;
  margin-right: -$key-margin-base;
  justify-content: space-between;
}

.key {
  box-sizing: border-box;
  flex: 0 1 $key-size;
  height: $key-size;
  margin: $key-margin-base;
  padding-left: $key-margin-base;
  padding-right: $key-margin-base;
  line-height: $key-size;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: $tf-light-gray;
  border-color: darken($tf-light-gray, 20%);
  border-radius: 2px;
  text-align: center;
  font-family: Arial;
  font-size: 0.75rem;
  pointer-events: none;
  transition: background-color 0.1s ease-out, border-color 0.1s ease-out;
}
.backspace {
  flex-basis: $key-size * 2;
}
.tab {
  flex-basis: $key-size * 1.375;
}
.backslash {
  flex-basis: $key-size * 1.625;
}
.capsLock {
  flex-basis: $key-size * 1.75;
}
.enter {
  flex-basis: $key-size * 2.25;
}
.shiftLeft {
  flex-basis: $key-size * 2.125;
}
.shiftRight {
  flex-basis: $key-size * 2.875;
}
.controlLeft,
.altLeft {
  flex-basis: $key-size * 1.375;
}
.space {
  flex-basis: $key-size * 8;
}
.altRight,
.metaRight,
.contextMenu,
.controlRight {
  flex-basis: $key-size * 1.25;
}

.keyF, .keyJ {
  border-width: 1px;
  border-style: dashed;
}
.keyPrompted {
  background-color: $tf-green;
  border-color: darken($tf-green, 20%);
}
.keyDowned {
  background-color: $tf-indigo;
  border-color: darken($tf-indigo, 20%);
}
.keyPressed {
  background-color: $tf-deep-purple;
  border-color: darken($tf-deep-purple, 20%);
}
.keyReleased {
  background-color: $tf-blue;
  border-color: darken($tf-blue, 20%);
}
