<div local-class="keyboard">
  {{~#each keyCodes as |code index| ~}}
    {{virtual-keyboard-key
        code=code
        state=(get state code)
        prompted=(get promptedState code)
        text=(get labels index)}}
  {{~/each~}}
</div>
