<div local-class="keyboard">
  {{~#each keys as |key| ~}}
    {{virtual-keyboard-key
        code=(unbound key.code)
        state=(get state (unbound (get key "code")))
        prompted=(get promptedState (unbound (get key "code")))
        text=(unbound key.text)}}
  {{~/each~}}
</div>
